<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 페이지</title>
</head>
<body>
<main>
    <h1>로그인 페이지</h1>
    <hr>

    {{#message}}
    <p style="color: green;">{{.}}</p>
    {{/message}}

    {{#oauthError}}
    <p style="color: red;">{{.}}</p>
    {{/oauthError}}

    <section>
        <h2>일반 로그인</h2>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="유저네임" value="ssar">
            <br>
            <input type="password" name="password" placeholder="비밀번호" value="1234">
            <br>
            <button type="submit">로그인</button>
        </form>
    </section>

    <hr>

    <section>
        <h2>카카오 로그인</h2>
        <a href="/login/kakao">카카오로 로그인하기</a>
    </section>
</main>
</body>
</html>
